.start-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh; /* Full height */
    background-color: #f9f9f9; /* Light background color */
}

.start {
    height: 768px;
}

.start .image-section img {
    margin-top: -125px;
}

.logo {
    clip-path: circle();
    height: 129px;
}
